<div class="tg-topbar">
    <div class="tg-leftbox">
        <span id="tg-datebox" class="tg-datebox"></span>
        <span class="tg-rtltextbox"><em>RTL</em> <a href="#">Mobile Theme</a> Buy Theme</span>
    </div>
    <div class="tg-rightbox">
        <span class="tg-tollfree">Toll Free: 0800-123-456</span>
        <div class="tg-themedropdown tg-languagesdropdown">
            <a href="javascript:void(0);" id="tg-languages" class="tg-btndropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span><img src="images/flags/img-01.jpg" alt="image description"></span>
                <span>Eng</span>
            </a>
            <div class="tg-themedropdownbox" aria-labelledby="tg-languages">
                <ul class="tg-languageslist">
                    <li>
                        <span><img src="images/flags/img-02.jpg" alt="image description"></span>
                        <span>Eng</span>
                    </li>
                    <li>
                        <span><img src="images/flags/img-03.jpg" alt="image description"></span>
                        <span>Eng</span>
                    </li>
                    <li>
                        <span><img src="images/flags/img-04.jpg" alt="image description"></span>
                        <span>Eng</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>